
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
			<form class="pure-form pure-form-stacked" #bookForm="ngForm">
				<div class="form-group">
					<fieldset>
						<div class="pure-control-group">
							<label for="x">Enter the x value of a point:</label> <select
								name="xValue" [(ngModel)]="point.xValue" required>
								<option *ngFor="let xValue of xValues" [value]="xValue.value">
									{{xValue.display}}</option>
							</select>
						</div>
						<div class="pure-control-group">
							<label for="y">Enter the y value of a point:</label> <input
								type="number" id="yValue" name="yValue"
								[(ngModel)]="point.yValue" required min="-5" max="3"
								#yValue="ngModel">
							<div *ngIf="yValue.errors && (yValue.dirty || yValue.touched)"
								class="alert alert-danger">
								<div [hidden]="!yValue.errors.required">y value is
									required!</div>
								<div [hidden]="!yValue.errors.min">y value must be more
									than -5.</div>
								<div [hidden]="!yValue.errors.max">y value must be less
									than 3.</div>
							</div>
						</div>
						<div class="pure-control-group">
							<label for="r">Enter the r value of a point:</label> <select
								name="rValue" [(ngModel)]="point.rValue" #rSelector="ngModel"
								(change)="draw_graph()" required pattern="[0-9]*" [min]="0">
								<option *ngFor="let rValue of rValues" [value]="rValue.value">
									{{rValue.display}}</option>
							</select>
						</div>
					</fieldset>
					<button type="submit" class="btn btn-default"
						[disabled]="!bookForm.form.valid">Submit</button>
				</div>
			</form>
		</td>
		<td>
			<canvas
				style="margin: 0; padding: 0; position: relative; top: 50px; border: 1px solid #000000;"
				#canvas on-click="drawOnClick($event)" width="320" height="320"></canvas>
			<form class="form-inline canvas-data">
				<div class="form-group">
						<label for="xCanvas">X:</label> <input type="number"
							value={{point.xValue}}
							class="form-control" id="xCanvas"
							[attr.disabled]="disabled?'':null">
				</div>
				<div class="form-group">
						<label for="yCanvas">Y:</label> <input type="number"
							value={{point.yValue}}
							class="form-control" id="yCanvas"
							[attr.disabled]="disabled?'':null">
				</div>
			</form>
		</td>
	</tr>
	<tr>

	</tr>
</table>

